<div id="<%= dom_id forum %>">
  <p>
    <strong>Author:</strong>
    <%= forum.author_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= forum.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= forum.content %>
  </p>

</div>
